@model List<SistemaVendas.Models.ClienteViewModel>
@{
    ViewData["Title"] = "Index";
}

<h1>Clientes</h1>


<table class="table ls-table">
    <thead>
        <tr>

            <th class="ls-nowrap col-xs-3">Código</th>
            <th class="hidden-xs"> Nome </th>
            <th class="hidden-xs"> CNPJ/CPF </th>
            <th class="hidden-xs"> Email </th>
            <th class="hidden-xs"> Celular </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr onclick="Editar(@item.Codigo)" style="cursor:pointer;">
            <td>
                @item.Codigo
            </td>
            <td>
                @item.Nome
            </td>
            <td>
                @item.CNPJ_CPF
            </td>
            <td>
                @item.Email
            </td>
            <td>
                @item.Celular
            </td>
        </tr>
        }

    </tbody>
</table>
<br />
<button type="button" class="btn btn-block btn-primary" onclick="Cadastrar()">Cadastrar Cliente</button>

<script>
    function Editar(codigo) {
        window.location = window.origin + "\\Cliente\\Cadastro\\"+ codigo;
    }

        function Cadastrar() {
        window.location = window.origin + "\\Cliente\\Cadastro";
    }


</script>